body {
	background: sienna;
}

#buttons-view {
	padding: 5px;
	margin: 5px;
}

button {
	padding: 10px;
	margin: 5px;
	background: #f3f713;
	color: sienna;
}

img.natureImage {
	padding: 10px;
	margin: 10px;
}